        body {
	       font-family: Verdana, Arial, Helvetica, sans-serif;
           font-size: 87.5%;
	       width: 96%;
	       background-color: whitesmoke;
	       margin: 15px auto;
	       padding: 20px;
        }
        header {
            padding: 1.875%;
            background-image: linear-gradient(to right, white 0% , blue 100%);
            overflow: auto;
        }
        
        address{
            font-size: 0.9em;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        h2 {
	        color:blue;
        }
        .box{
            background-color: #483D8B;
            padding: 30px;
            border: 15px solid skyblue;
            border-right-color: teal;
            border-bottom-color: slategrey;
            border-left-color: grey;
        }
        .margin-edge {
            border: 3px dashed red;
        }
        .box-size {
            padding:30px;
            border: 3px dashed red;
            margin: 10px;
        }
       

        #logo{ 
            position:fixed;    
        } 
                footer {
           color: white;    
           background: linear-gradient(to bottom, rgb(3, 51, 86), black);
           font-size: 0.9em;  
           font-style: normal;
        }

        footer nav ul {
           float: left;
           padding: 30px;
           width: 25%;
        }

        footer nav ul a {
           color: white;
        }

        footer nav ul a:hover {
           text-decoration: underline;
        }


        footer::after {
           display: table;
           content: "";
           clear: both;
        }

        #nav_menu ul {
            list-style: none;
            position: relative;    /* So the first submenu can be positioned within the main menu */
        }
        #nav_menu ul li {
            float: left;
        }
        #nav_menu ul ul {
            display: none;         /* Don't display submenu until hover of the li element */
            position: absolute;
            top: 100%;             /* Position the submenu at the bottom of the main menu */
        }
        #nav_menu ul ul li {
            float: none;           /* Display the submenus vertically */
            position: relative;    /* So the second submenu can be positioned within the first submenu */
        }
        #nav_menu ul ul li ul {
            position: absolute;
            left: -100%;           /* Position the second submenu at the left side of the li element */ 
            top: 0;                /* Position the second submenu at the top of the li element */
        }
        #nav_menu ul li:hover > ul {
            display: block;        /* Display the submenu on hover of the li element */
        }
        #nav_menu ul::after {
            content: "";
            clear: both;
            display: block;
        }

         
        /* The styles for the formatting of the multi-tier navigation menu */
        #nav_menu ul {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        #nav_menu ul li {
            width: 20%;
        }
        #nav_menu ul li a {
            text-align: center;
            display: block;
            padding: 1em 0;
            text-decoration: none;
            background-color: blue;
            color: white;
            font-weight: bold;
        }

        #nav_menu ul li a.current {
            color: yellow;
        }
        #nav_menu ul li a:hover, #nav_menu ul li a:focus {
            background-color: gray;
        }
        #nav_menu ul li:hover ul {
            width: 100%;
        }
        #nav_menu ul li:hover ul li a {
            display: block;
            width: 178px;
            text-align: center;
        }
        .slicknav_menu {
            display: none;
        }
        @media only screen and (max-width: 959px) {
        #nav_menu ul li a {
            font-size: .875em;                      /* 14 / 16 */
        }
        @media only screen and (max-width: 767px) {
        #nav_menu {
            display: none;
        }
        .slicknav_menu {
        display: block;
        }  
        h2 {
	        color:blue;
        }
        .box{
            background-color: #483D8B;
            padding: 30px;
            border: 15px solid skyblue;
            border-right-color: teal;
            border-bottom-color: slategrey;
            border-left-color: grey;
        }
        .margin-edge {
            border: 3px dashed red;
        }
        .box-size {
            padding:30px;
            border: 3px dashed red;
            margin: 10px;
        }
       
       
       